TM_LOGIN=SuperAdmin
TM_PASSWORD=
TM_IP=127.0.0.1
TM_PORT=5000
TM_TIMEOUT=10
MASTERADMIN_LOGINS=
LOCK_PASSWORD=

DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=aseco
DB_USER=root
DB_PASSWORD=

DEDI_LOGIN=
DEDI_PASSWORD=
DEDI_NATION=
MK_NATION=

PUBLIC_STATS_API_BASE=https://tmtrialgy.com
PUBLIC_STATS_API_TOKEN=

DISCORD_WEBHOOK_URL=
