# App must be created here https://discord.com/developers/applications/

# Discord bot runtime
DISCORD_BOT_TOKEN=

# Optional override if you want to point to another config file
# DISCORD_BOT_SERVERS_YAML=C:\path\to\discord_bot\servers.yaml
